.button{
    border: none;
    outline: none;
    paading-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &.primary-button{
        background-color: #c40980;
        color: whitesmoke;
        box-shadow: 0 0 5px #c40980;
    }

    &:active{
        transform: scale(1.05);
    }
        
}